# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3

# Virtual environments
.venv/
venv/

# Django migrations (optional to track)
backend/**/migrations/

# IDE
.idea/
.vscode/

# Node / React (when you add your frontend)
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db
